#SearchForm {
    align-items: right !important;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.maindiv {
    background-color: rgba(76, 74, 74, 0.278);
    color: black;
}

.textOnImg {
    background-color: rgba(135, 135, 135, 0.73);
    text-align: center;
    color: black;
}

.textOnImgDark {
    background-color: rgba(50, 50, 50, 0.73);
    text-align: center;
    color: rgb(255, 254, 254);
}

.imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.cardsDiv {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myCard {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.851);
}

.myDiv {
    text-align: center;
    background-color: white;
    margin-top: 2%;
}


a:hover {
    color: red;
    text-decoration: none;
}

a {
    color: rgb(89, 88, 88);
}

nav a {
    color: rgb(67, 66, 66);
    margin-right: 17px;
    padding: 0px 0;
}

.eopNav {
    color: grey;
}

li a:hover {
    color: rgba(182, 2, 2, 0.866);
}

.nav-darkText {
    color: rgba(255, 255, 255, 0.800);
}
